.quizQuestionDetailsContainer {
	width: 70%;
	background-color: aliceblue;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
}
.option-box {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}
.title-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-eye {
	border: none;
	font-size: 20px;
	cursor: pointer;
	outline: none;
}
